canvas {
    background: #141414;
    background-image: linear-gradient(#000000, rgb(83, 83, 83));
    background-attachment: scroll;
}  

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 7vh;
  background-color: #121212eb;
}

.logo{
  color: rgb(215, 215, 215);
  display: flex;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 25px;
}

.logo h{
  padding-left: 15px;
  padding-top: 10px;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links li{
  list-style: none;

}

.nav-links a{
  color: rgb(215, 215, 215);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.burger{
  display: none;
}



.burger div{
  width: 25px;
  height: 3px;
  background-color: rgb(215, 215, 215);
  margin: 5px;
}

#grad1 {
    height: 200px;
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(red, white);
  }

/*Setting more responsive navbar*/

h1{
    font-weight: bold;
}

.slide{
    position: absolute;
    top: 150px;
    left:100px;
    right: 100px;
    
}

.slide h{
  color: rgb(215, 215, 215);
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  font-style: italic;
}

.space{
  height: 30px;
  margin: 5px;
}

.gradient-t{
    font-size: 50px;
    background: linear-gradient(60deg, #E21143, yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
   
  }

  .fixed-content {
    top: 0;
    bottom:0;
    position:fixed;
    overflow-y:scroll;
    overflow-x:hidden;
}